<header class="clear <!--on scr-->">
  <h1><a href="index.html"><img src="img/TWG_logo.svg" alt="TWG Tea home"></a></h1>
  <nav>
    <h2 class="blind">주메뉴</h2>
    <button type="button" class="mobile <!--close-->">
      <span>메뉴</span>
      <span></span>
      <span></span>
    </button>
    <ul class="gnb clear">
      <li><a href="brand.html"><span>BRAND</span></a>
        <ul class="sub">
          <li><a href="brand.html"><span>About</span></a></li>
          <li><a href="brand.html"><span>Location</span></a></li>    
        </ul>
      </li>
      <li><a href="product.html"><span>PRODUCT</span></a></li>
      <li><a href="#"><span>ENJOY OF TEA</span></a>
        <ul class="sub">
          <li><a href="#"><span>Collection</span></a></li>
          <li><a href="#"><span>How To</span></a></li>
        </ul>
      </li>
      <li><a href="#"><span>CONTACT</span></a></li>
    </ul>
  </nav>
</header>